$define_name
        const static int CHANNEL_COUNT = $channel_count;
        #define M2ETIS_CHANNELLIST $channel_names_list
        enum ChannelName : unsigned int {
            $channel_names_enum
        };
